* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
  color:white;
  background-color: black;
}

#banner {
  background: linear-gradient(rgba(0,0,0,0), rgba(16,16,16,1)), url("./assets/bg.jpg");
  width: 100%;
  height: 600px;
  background-repeat: none;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.banner__autor {
  display: flex;
  justify-content: center;
}

.container{
  display: flex;
  border: 1px solid red;
  margin:auto;
  width: 70%;
  gap: 20px;
  flex-wrap: wrap;
}
a {
  color: white;
  text-decoration: none;

}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 0 1 calc(33.33% - 20px);
}
