* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
  color:white;
  background-color: black;
}

#banner {
  background: linear-gradient(rgba(0,0,0,0), rgba(16,16,16,1)), url("./assets/bg.jpg");
  width: 100%;
  height: 600px;
  background-repeat: none;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.banner__autor {
  display: flex;
  justify-content: center;
}

a {
  color: white;
  text-decoration: none;
}
