* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
  color:white;
  background-color: black;
}

#banner {
  background: linear-gradient(rgba(0,0,0,0), rgba(16,16,16,1)), url("./assets/bg.jpg");
  width: 100%;
  height: 600px;
  background-repeat: none;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.banner__autor {
  display: flex;
  justify-content: center;
}

.container{
  display: flex;
  border: 1px solid red;
  margin:auto;
  width: 70%;
  gap: 20px;
  flex-wrap: wrap;
}
a {
  color: white;
  text-decoration: none;

}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 0 1 calc(33.33% - 20px);
}

.padre {
  border: 30px solid rgb(124, 2, 133);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(124, 2, 133);
  width: 100%;
  height: 100vh;
}

.hijo {
  border: 20px solid rgb(251, 255, 0);
  background-color: rgb(251, 255, 0);
  width: 90%;
  max-width: 1050px;
  height: 100vh;


}

.purpura{
  border: 20px solid rgb(255, 0, 238);
  background-color: rgb(255, 0, 238);
  display: flex;
  justify-content: center;
  overflow: hidden;

}

.red {
  border: 20px solid rgb(255, 0, 0);
  background-color: rgb(255, 0, 0);
  display: flex;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  overflow: hidden;
  margin-top: 40px;

}

.purpura__elefante {
  width: 80%;

}

.red__img {
height: 100px;
}

.hijo__titulo{
  border: 2px solid rgb(255, 0, 0);
  color: red;
  background-color: yellow;
}
