* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
  color:white;
  background-color: black;
}

#banner {
  background: linear-gradient(rgba(0,0,0,0), rgba(16,16,16,1)), url("./assets/bg.jpg");
  width: 100%;
  height: 600px;
  background-repeat: none;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.banner__autor {
  display: flex;
  justify-content: center;
}

.container{
  display: flex;
  margin:auto;
  width: 70%;
  gap: 20px;
  flex-wrap: wrap;
  flex: 0 1 calc(33.33% - 20px);
}
a {
  color: white;
  text-decoration: none;

}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 0 1 calc(33.33% - 20px);
}

.padre {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;


}

.padre__hijo {
  width: 90%;
  max-width: 1050px;
  height: 100vh;
}

.hijo__purpura{
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.red {
  display: flex;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  overflow: hidden;
  margin-top: 40px;

}

.purpura__img {
  width: 80%;
  height: 600px;
}

.red__img {
height: 100px;
}

.hijo__titulo{
  color: white;
  display: flex;
}

.bottom{
  position: fixed;
  right: 25%;
  font-size: xx-large;
  text-shadow: 2px 4px 10px red;
  font-weight: bold;
}

.galeria {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.galeria--active{
  display: block;

}

.img--one{
  border: solid 10px white
}
